.section-about{
    height: 90dvh;
    width: 99dvw;
     background-color: var(--primary-color);
     position: relative;
     overflow: hidden;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 50px 0;
}


.back-1{
    position: absolute;
    background-color: aqua;
    height: 180px;
    width: 180px;
    top: 80px;
    left: 60px;
    border-radius: 50%;
    opacity: 0.75;
    filter: blur(131.707px);
}

.back-22{
    position: absolute;
    top: 100px;
    left: 800px;
    background-color: yellow;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    opacity: 0.75;
    filter: blur(80.05px);
}

.back-3{
    position: absolute;
    top: 700px;
    left: 500px;
    background-color: rgb(247, 128, 25);
    height: 100px;
    width: 100px;
    border-radius: 50% ;
    opacity: 0.75;
    filter: blur(150.123px);
}

.back-4{
    position: absolute;
    top: 50px;
    right:30px;
    background-color: rgb(22, 213, 230);
    border-radius: 50%;
    /* opacity: 0.30; */
    height: 80px;
    width: 80px;
    filter: blur(90.23px);
}

.back-55{
    position: absolute;
    top: 25%;
    right:200px;
    background-color: rgb(147, 186, 48);
    border-radius: 50%;
    opacity: 0.70;
    height: 380px;
    width: 380px;
    filter: blur(120.23px);
}

.back-6{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: rgb(214, 28, 177);
    bottom: -100px;
    left: 20px;
    border-radius: 50%;
    opacity: 0.5;
    filter: blur(100.10px);
}

.about-me{
    width: 1200px;
    height: 630px;
    /* background-color: yellow; */
    color: white;
    border: 2px solid yellow;
    border-radius: 20px;
    
}

.layer{
    border-radius: 20px;
    color: white;
    padding: 50px;
    background-color: rgba(209, 206, 206, 0.2); 
    backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
    height: 100%;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    gap: 50px;
   

}

/* .discription{
    display: block;
    margin: 0 auto;
    max-width: 800px;
} */
.discription h2{
    font-size: 45px;
    font-weight: 600;
    color: yellow;
    margin: 10px 0 20px 0 ;
}

.discription p{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align:left;
    max-width: 750px;
}

.socials button{
    padding: 10px 40px;
    margin: 30px 0 0 0;
    font-size: 18px;
    background-color: yellow;
    border: 0cap;
}
.button {
  margin: 30px 0 0 0;
  position: relative;
  background-color: transparent;
  color: #e8e8e8;
  font-size: 17px;
  font-weight: 600;
  border-radius: 10px;
  width: 150px;
  height: 60px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(51, 51, 51, 0.2);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.button::before {
  content: "Resume";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(135deg,#7b4397,#dc2430 );
  transform: translate(0%,90%);
  z-index: 99;
  position: relative;
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button::after {
  content: "Resume";
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:yellow;
  color: #7b4397;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transform-origin: top;
  transform: translate(0%,-100%);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button:hover::before {
  transform: translate(0%,0%);
}

.button:hover::after {
  transform: translate(0%,-200%);
}

.button:focus {
  outline: none;
}

.button:active {
  scale: 0.95;
}


