.section-home{
    height: calc(90dvh - 64.8px);
    width: 99dvw;
    background-color: var(--primary-color);
    position: relative;
    overflow: hidden;
    padding-top: 64px;
}
.back-1{
    position: absolute;
    background-color: aqua;
    height: 180px;
    width: 180px;
    top: 80px;
    left: 60px;
    border-radius: 50%;
    opacity: 0.75;
    filter: blur(131.707px);
}

.back-30{
    position: absolute;
    top: 100px;
    right: 1000px;
    background-color: rgb(244, 244, 6);
    border-radius: 50%;
    height: 60px;
    width: 60px;
    opacity: 0.75;
    filter: blur(80.05px);
}

.back-3{
    position: absolute;
    top: 700px;
    left: 500px;
    background-color: rgb(247, 128, 25);
    height: 100px;
    width: 100px;
    border-radius: 50% ;
    opacity: 0.75;
    filter: blur(150.123px);
}

.back-4{
    position: absolute;
    top: 50px;
    right:30px;
    background-color: rgb(22, 213, 230);
    border-radius: 50%;
    /* opacity: 0.30; */
    height: 80px;
    width: 80px;
    filter: blur(90.23px);
}

.back-5{
    position: absolute;
    top: 20%;
    right:190px;
    background-color: yellow;
    border-radius: 50%;
    opacity: 0.70;
    height: 380px;
    width: 380px;
    filter: blur(120.23px);
}

.back-7{
    position: absolute;
    width: 150px;
    height: 100px;
    background-color: rgb(214, 28, 177);
    left: 200px;
    bottom: 0;
    border-radius: 50%;
    opacity: 0.9;
    filter: blur(100.10px);
}

.my-image{
    position: absolute;
    top: 80px;
    left: auto;
    right: 120px;
    overflow: hidden;
    width: 550px;
    height: 550px;
    border-radius: 50%;
    /* background-color: yellow; */
    border: 4px solid yellow;
    
}

.my-image img{
  height: 100%;
  width: 100%;
}

.text{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100px;
    letter-spacing: 2px;
    max-width: 600px;
}

.text h3{
    font-size: 30px;
    font-weight: 600;
    color: white;
}

.text h1{
    color: yellow;
    letter-spacing: 3px;
    font-size: 60px;
    font-weight: 600;
    line-height: 70px;
}
.text h2{
    color: white;
    font-weight: 600;
    font-size: 35px;
}
.text p{
    color: white;
    font-size: 12px;
}

