body {
 margin: 0;
 padding: 0;
font-family: "Poppins", sans-serif;
 
 }

h1,h2,h3,h4,h5,h6,p{
  margin: 0;
  padding: 0;
}

.container{
  max-width: 1450px;
  margin: 0 auto;
  padding: 10px;
}

a{
  text-decoration: none;
  color: white;
}